.cpm {
    height: 60px;
    width: 83px;
    display: flex;
    padding: 10px;
}

.itenslista {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: #E5E4F7;
}

header {
    display: flex;
    background-color: #FFFDFD;
    width: 100%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-between;
    height: 80px;
    left: 0;
    top: 0;
}

.poligono {
    background-color: #2028f2;
    height: 873.5px;
    width: 77px;
    position: absolute;
    top: 80px;
    left: 13px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75vh, 0% 100%);
}

.lista {
    display: flex;
    margin-right: 20px;
    gap: 20px;
}

.fotocol {
    width: 850px;
    height: 381px;
    left: 292px;
    top: 219px;
    padding: 20px;
}

.colegio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.textcol {
    font-size: 18px;
    height: 81px;
    width: 1173px;
    left: 134px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
}

.nomecol {
    font-family: "Quantico", sans-serif;
    top: 120px;
    font-size: 48px;
    width: 869.01px;
    height: 58px;
    left: 286px;
    display: flex;
    justify-content: center;
    line-height: 68.64px;
    font-weight: 400px;
}

.text2 {
    width: 635px;
    height: 635px;
    top: 194px;
    left: 134px;
    gap: 30px;
    opacity: 0px;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    font-size: 34px;
    margin-left: 860px;
    padding: 280px;
}